<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fish Buddy</title>
</head>
<body>
    {% extends 'base.html' %}
    
    {% block content %}
    <h3>What is Fish Buddy?</h3>
    <hr />
    <p>Fish Buddy is a solution to a problem that myself and my fellow fishing buddies
        were having with remembering our previous catches and what we used to catch our fish.
        This app allows you to have a personalized page where you can log the species that you
        catch, what body of water you caught it at, what gear you used to catch it, and as a little
        plus, the ability to track you catches by length, weight, etc...
    </p>
    <h3>What Can I do on Fish Buddy?</h3>
    <hr />
    <p>Fish Buddy allows you to have your own personal page where you can add certain fish species
        that you have caught and add all the fishing gear that you have. You also have the ability to
        log the lake where you caught that type of fish, assign the gear you used to catch it and finally, 
        have your very own fish catch log so that you never forget a thing!
    </p>
    <h3>So How do I Get Started?</h3>
    <hr />
    <p>You can get started by signing up or, if you already have an account with us, log in! All of the actions
        available to you are in the actions dropdown in the top right of your screen!
    </p>
    {% endblock %}
</body>
</html>