<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fish Buddy</title>
</head>
<body>
    <h1>What is Fish Buddy?</h1>
    <hr />
    <p>Fish Buddy is a solution to a problem that myself and my fellow fishing buddies
        were having with remembering our previous catches and what we used to catch our fish.
        This app allows you to have a personalized page where you can log the species that you
        catch, what body of water you caught it at, what gear you used to catch it, and as a little
        plus, the ability to track you catches by length, weight, etc...
    </p>
    <footer>All Rights Reserved, &copy; 2022 Fish Buddy</footer>
</body>
</html>