{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Fish Buddy</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper #2e7d32 green darken-3">
                <ul>
                    <li>
                        <a href="/" class="center brand-logo">Fish Buddy</a>
                    </li>
                </ul>
                <ul class="left">
                    <li><a href="{% url 'about' %}">About</a></li>
                </ul>
                <a style="margin-right: 15px;" class='dropdown-trigger right' href='#' data-target='dropdown1'>Actions &#9660;</a>

                <!-- Dropdown Structure -->
                {% if user.is_authenticated %}
                <ul id='dropdown1' class='dropdown-content'>
                    <li><a style="color: black;" href="{% url 'fishes_index' %}">My Fish</a></li>
                    <li><a style="color: black;" href="{% url 'gears_index' %}">My Gear</a></li>
                    <li class="divider" tabindex="-1"></li>
                    <li><a style="color: black;" href="{% url 'fishes_create' %}">Add Species</a></li>
                    <li><a style="color: black;" href="{% url 'gears_create' %}">Add Gear</a></li>
                </ul>
                <ul class="right">
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                </ul>
                {% else %}
                <ul class="right">
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Log In</a></li>
                </ul>
                {% endif %}
            </div>
        </nav>
    </header>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.dropdown-trigger');
            M.Dropdown.init(elems);
        });
    </script>
    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="page-footer #2e7d32 green darken-3">
        <div class="center">
            All Rights Reserved, © 2022 Fish Buddy
        </div>
    </footer>
</body>

</html>