body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #e8f5e9;
  }
  
main {
    flex: 1 0 auto;
}
  
footer {
    padding-top: 0;
    text-align: right;
}

.index-title {
    text-decoration: underline;
    text-align: center;
}

.detail-title {
    text-align: center;
}

.fish-link {
    color: black;
}

.img-div {
    display: flex;
    justify-content: center;
}

#spotlight {
    border: 2px solid #2e7d32;
    height: 300px;
    width: 250px;
}







