{% extends 'base.html' %}

{% block content %}

<h1 class="detail-title">{{ fish.name }}</h1>

<div class="row">
    <div class="col s12 m6">
        <div class="card">
            <div class="card-image">
                <img src="{{ fish.image }}" alt="fish">
            </div>
            <div class="card-content card_action #2e7d32 green darken-3">
                <a style="color: white;" class="left" href="{% url 'fishes_update' fish.id %}">Edit</a>
                <a style="color: white;" class="right" href="{% url 'fishes_delete' fish.id %}">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}