{% extends 'base.html' %}

{% block content %}

<h1 class="index-title">Fish</h1>
<hr />

{% for fish in fishes %}
<div class="row">
    <div class="col s12 m6">
        <div class="card z-depth-5">
            <div class="card-image">
                <img class="responsive-img" src="{{ fish.image }}" alt="fish">
            </div>
            <a class="fish-link" href="{% url 'fish_detail' fish.id %}">
                <div style="text-align: center;" class="card-content #2e7d32 green darken-3">
                    <h5>{{ fish.name }}</h5>
                </div>
            </a>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}